{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}


      <br>      
      <br>

    <section id="cartas">
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/The platinum.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Louis Armstrong - The Planitum Collection</p>
                <p class="card-text">$20.000 <del class="del-price">$38.000</del></p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Louis.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Louis Armstrong - Singin' Satchmo</p>
                <p class="card-text">$30.000</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/d2.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Miles Davis - Kind of Blue</p>
                <p class="card-text"> $38.000</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-modal">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/FrankSinatra.png'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Frank Sinatra - Collected 2</p>
                <p class="card-text">$50.000</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Miles.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Miles Davis – A Tribute To Jack Johnson</p>
                <p class="card-text">$25.000</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
      </div> 
    </section>
    <br>
{%endblock%}  