{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}


      <br>
      <section id="cartas">
        <div class="row row-cols-1 row-cols-md-2 g-4">

          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Unlimited love.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Red Hot Chilli Peppers - Unlimited Love</p>
                <p class="card-text">$38.500 <del class="del-price">$44.000</del></p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Californication.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Red Hot Chilli Peppers - Californication</p>
                <p class="card-text">$35.000 <del class="del-price">$47.000</del></p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/TheBeatles68LP.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">The Beatles - The White Album</p>
                <p class="card-text">$45.000</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/machine-head-deep-purple-portada.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Deep Purple / Machine Head</p>
                <p class="card-text"> $22.500.</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-modal">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Rod Stewart.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Rod Stewart – Blondes Have More Fun</p>
                <p class="card-text">$15.000.</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="{% static 'tienda/Imagenes/Productos/Twisted Siter.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Twisted Sister – Stay Hungry</p>
                <p class="card-text">$30.000.</p>
                <button type="button" class="BOTON-CARD" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Añadir Al Carro
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea añadir al carro?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Desea añadir el producto al carro de compras, podrá añadir o eliminar del carrito el producto cuando desee.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="BOTON-CARD">AÑADIR</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
      <br>
{%endblock%}     


  