*{
    box-sizing: border-box;
    list-style: none;
    
}

header{
    background-color:rgb(245, 245, 245);
    min-width: 420px;
    max-width: 3000px;
    

}

body{
    background-color: rgb(30,30,30);
    background-color: rgb(30,30,30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 420px;
    max-width: 3000px;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    min-height: 80px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}

h5{font-size: 3.5em;

}

p{
    margin: 20px;
    font-size: 1.25em;
}



li{
    font-size: 1.25em;
}

button:hover{
    background-color: #000000a1;
}

.encabezado1{
    display: flex;
    justify-content: center;
    color: rgb(110, 26, 149);
    margin: 0;
}

.TEXTO-IMAGENES{
    color: transparent;
    -webkit-text-stroke: 3px rgb(249, 249, 249);
    font-size: 20vw;  
    min-width: 20px;  
}

.BOTON-CATALOGO{
    color: white;
    background-color: rgba(146, 35, 197, 0.384);
    border: 2px solid rgb(146, 35, 197, 0.384);
    font-size: 30px;
    border-style: hidden;
    margin-bottom: 6px;
    border-radius: 10px;
    font-weight: bold;
    
}

.BOTON-CARD{
    color: white;
    background-color:#543476;
    border: 2px solid rgb(146, 35, 197, 0.384);
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
height: 70px;
margin-right: 10px;
}

.carro {
    display: flex;
   
    
    
    
}

.carro img{
margin-right: 20px;
height: 40px;

}

.destaque-color{
    color: rgb(110, 26, 149);
    font-size: 1.5em;
    font-weight: 400;
}

.Carro{
    background-color: rgb(30,30,30);
}

.Carro{
    background-color: rgb(30,30,30);
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }

    #Nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content:end;
    }
    
    
}

img{
    font-size: 300px;
    align-items: center;
    align-content: center;
}

#Nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Contacto{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Nosotros .container{
    text-align: center;
    padding: 200px 12px;
}

    #Nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content:end;
    }
    
    


img{
    font-size: 300px;
    align-items: center;
    align-content: center;
}

#Nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Contacto{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Nosotros .container{
    text-align: center;
    padding: 200px 12px;
}
.container{
   max-width: 3000px;
   margin: 0 auto;
   align-items: center;
}

.card{
    align-items: center;
    height: auto;
    margin: auto;     
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}


#cartas .container{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    min-width: none;
    margin: auto;    
    
}



form{
    max-width: 1200px;
    min-width: none;
    margin: auto;    
}
.texto-contacto{
    display: flex;
    justify-content: center;
    color: rgb(110, 26, 149);
    margin: 0;
}

#cartas{
    max-width: 600px;
    min-width: none;
     margin: auto;
    max-height: auto;

}
    
#cartas .card-title{
    max-width: 250px;
    align-items: center;
    
    
}

#cartas img {
    max-width: 600px;
    min-width: auto;
    align-items: auto;
}

#cartas .card {
    align-items: flex-start;
    margin: 20px;
}

#formulario{
    background-color: white;
        
    max-width: 1200px;
    min-width: none;
    margin: 20px;   
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #c00909;
    padding-top: 20px;
}

.footer{
    background-color: #000000;
    padding: 80px 0;   
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 500;
    border-bottom: 2px solid #7d42f1e0;
    padding-bottom: 10px;
    display: inline-block; 
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;

}

.social-link a:hover {
    background-color: #7d42f1e0;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

#carouselExampleAutoplaying {
    margin-left: 20px;
    margin-right: 20px;
}

.card-group{
    margin-left: 20px;
    margin-right: 20px;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../img/hero.jpg);
    height: 350px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }

  th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

  .container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
  @media (min-width: 750px) {}

  .submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.agregar-carrito {
    margin:10px 0;
}


#lista-cursos .row {
    margin-bottom:20px;}

a {
        background-color: transparent;
        color: #000000;
        text-decoration: none;
      }
a:active,
a:hover {
outline: 0

}
span{
    color: #00000000;
}