*{
    box-sizing: border-box;
}

header{
    background-color:rgb(245, 245, 245);

}

body{
    background-color: #422e58;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    min-height: 80px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

h5{font-size: 3.5em;

}

p{
    margin: 20px;
    font-size: 1.25em;
}

li{
    font-size: 1.25em;
}

button:hover{
    background-color: #000000a1;
}

.encabezado1{
    display: flex;
    justify-content: center;
    color: rgb(110, 26, 149);
    margin: 0;
}

.TEXTO-IMAGENES{
    color: transparent;
    -webkit-text-stroke: 3px rgb(249, 249, 249);
    font-size: 300px;
        
}

.BOTON-CATALOGO{
    color: white;
    background-color: rgba(146, 35, 197, 0.384);
    border: 2px solid rgb(146, 35, 197, 0.384);
    font-size: 30px;
    border-style: hidden;
    margin-bottom: 6px;
    border-radius: 10px;
    font-weight: bold;
    
}

.BOTON-CARD{
    color: white;
    background-color:#543476;
    border: 2px solid rgb(146, 35, 197, 0.384);
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
height: 70px;
margin-right: 10px;
}

.carro {
    display: flex;
   
    
    
    
}

.carro img{
margin-right: 20px;
height: 40px;

}

.destaque-color{
    color: rgb(110, 26, 149);
    font-size: 1.5em;
    font-weight: 400;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }
}

.container{
   max-width: 1400px;
   margin: auto; 
   align-items: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}

#nuevos-añadidos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuevos-añadidos .container{
    padding: 150px 12px;
}

#nuevos-añadidos p{
    display: none;
}

#nuevos-añadidos h2{
    margin-top: 0;
}

#nuevos-añadidos .card{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

