
.cuerpo-clima {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: black;
}
*{
    box-sizing: border-box;
}
h1,h3{
    font-weight: 400;
}
.weather-app{
    min-height: 100vh;
    background-image: url(
        ./images/day/cloudy.jpg
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0 ;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 7em;
    margin: 0;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0
    rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px) ;
    border:
    1px solid
    rgba(225, 225, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form{
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover{
    background: #fff !important;
    color: #000;
}

.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding:  0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}
.search:focus{
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;

}

.panel ul li {
    color: #ccc;
    margin: 2.5em 0;

}

.panel ul h4{
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
    
}

@media screen and (max-width: 500px) {
    html{
        font-size: 12px;
    }
    
}

@media screen and (max-height: 300px) {
    .weather-app{
        min-height: 40em;
    }
    
}

.footer{
    background-color: #000000;
    padding: 80px 0;   
    text-align: center;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 500;
    border-bottom: 2px solid #7d42f1e0;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center; 
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;

}

.social-link a:hover {
    background-color: #7d42f1e0;
}


.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #FFFFFF;
    
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline
    ;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

#footer-links li{
    text-align: center;
    align-items: center;
}